#header {
  height: 60px;
  background-color: white;
  align-items: center;

  #user-area {
    #profile-container {
      width: 50px;
      height: 50px;
      background-color: rgba(255, 221, 67, 0.5);
    }

    #profile-dropdown {
      width: 250px;
      height: auto;
      background-color: white;
      top: 40px;
      opacity: 0;
      visibility: hidden;

      .dropdown-item {
        height: 45px;
      }

      &.open {
        visibility: visible;
        opacity: 1;
        top: 60px;
      }
    }
  }
}

#notification-dropdown {
  width: 400px;
  max-height: 400px;
  top: 50px;
  overflow-y: auto;
  @media all and (max-width: 630px) {
    width:300px;
    right: 0;
    transform:translateX(50%)
  }
}

.notification-container {
  transition: background-color 0.3s ease-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.notification-number {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  transform: translate(calc(-100% + 12.5px), calc(-100% + 12.5px));
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}
