main {
  #wall {
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }

  #content-area {
    transform:translateY(-270px);
    @media all and (max-width:1024px) {
      margin-top:150px;
    }
    #post-area {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.02);
      font-size: 0.85em;
      height: auto;

      #post-textarea {
        min-height: 50px;
        max-height: 100px;
      }
    }

    #recommendations {
      height: auto;
    }
  }
}

.profile-info {
  @media all and (max-width: 1024px) {
    transform: translateY(-90%);
  }
}

.ck-editor {
  width: 100% !important;
  border: none !important;
  margin-right: auto !important;
  word-break: break-all;
}

.ck-editor__top {
  display: none !important;
}

.ck-content {
  border: none !important;
  box-shadow: none !important;
  max-width: 100% !important;
  p {
    display: block !important;
    max-width: 100% !important;
  }
}

.user-stories-wrapper {
  .user-stories-container {
    width: 30%;
    max-height: 90%;
    aspect-ratio: auto 1/1.5;
    .story-timeline-container {
      aspect-ratio: auto 10/0.1;
    }
    .story-carousel {
      &,
      * {
        height: 100%;
      }
    }
  }
}

