.post-item {
  .post-delete-button {
    transition: all 0.3s ease-out;
    transform: translateY(-10px);
    opacity: 0;
  }

  &:hover .post-delete-button {
    transform: translateY(0);
    opacity: 1;
  }
}
