.post-item {
  .post-delete-button {
    transition: all 0.3s ease-out;
    opacity: 0;
  }

  .actions-container {
    transition: all 0.3s ease-out;
    transform: translateX(-30px);
    opacity: 0;
  }

  &:hover .actions-container {
    transform: translateX(0px);
    opacity: 1;
  }
  
  &:hover .post-delete-button {
    opacity: 1;
  }
}
