@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./@assets/sass/variables";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#App {
  font-family: "Roboto";
  color: #212135 !important;
}

.input-control {
  height: 45px;
  border-radius: 10px;
  background-color: #2b2c3910;
}

.input-checkbox {
  width: 20px;
  height: 20px;
  background-color: #2b2c3910;
  position: relative;
  border: none;

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: $text_primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s ease-out;
  }

  &.active {
    &::after {
      opacity: 1;
    }
  }
}
